extends ../layout
block content
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .col-md-12
            // DATA TABLE
            .table-responsive.table-responsive-data2
              table.table.table-data2
                thead
                  tr
                    th NO.
                    th NAMES
                    th PHONE
                    th JOB TYPE
                    th EMAIL
                    th APPROVED
                    th ACTIONS
                tbody
                  if(profs)
                    each user, i in profs
                      tr.tr-shadow
                        td
                          =i+1
                        td
                          =user.names
                        td
                          =user.phone
                        td
                          if(user.jobtype)
                            =user.jobtype.name
                        td
                          =user.email
                        td
                          =user.approved
                        td
                          td
                            .table-data-feature
                              a(href="/prof/view/"+user.id, title="Delete Prof")
                                button.item(data-toggle='tooltip' data-placement='top' title='Delete')
                                  i.ti-eye
                              a(href="/prof/update/"+user.id, title="Delete Prof")
                                button.item(data-toggle='tooltip' data-placement='top' title='Edit')
                                  i.ti-pencil
                              if(user.approved == true)
                                a(href="/prof/approve/"+user.id, title="Disapprove")
                                  button.item(data-toggle='tooltip' data-placement='top' title='Disapprove')
                                    i.ti-minus
                              else
                                a(href="/prof/approve/"+user.id, title="Approve")
                                  button.item(data-toggle='tooltip' data-placement='top' title='Approve')
                                    i.ti-check
                              a(href="/prof/delete/"+user.id, title="Delete Prof")
                                button.item(data-toggle='tooltip' data-placement='top' title='Delete')
                                  i.ti-close


                    tr.spacer
