extends ../layout

block content
  div.container-fluid
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .div.w-50
        div.col-12.my-col
           h3.agile-title.login-title.text-center
             | SakaPro: Login
        
        .div.signup-or-separator.login-form
          span.h6.signup-or-separator--text
          form(method="post",action="/changepassword")
            h6.heading-small.text-muted.mb-4 Change Password
            .pl-lg-4
              .row
                .col-lg-12
                  .form-group.focused
                    label.form-control-label(for='currentPassword') Current Password
                    input#currentPassword.form-control.form-control-alternative(type='password' placeholder='' name='currentPassword' required)
                .col-lg-12
                  .form-group
                    label.form-control-label(for='newPassword') New Password
                    input#newPassword.form-control.form-control-alternative(type='password' placeholder='' name='newPassword' required)
                .col-lg-12
                  .form-group.focused
                    label.form-control-label(for='confirmPassword') Confirm Password
                    input#confirmPassword.form-control.form-control-alternative(type='password' placeholder='' required name='confirmPassword') 
              .row
                .text-center
                  button.btn.btn-success.my-4(type='submit') Change Password
